.container {
  margin-top: 100px;
  background: rgb(250,250,250);
}
.col-md-6 {
 min-width: 462px;
 height: 301px;
 margin-bottom: 50px;
 margin-top: 15px;
}
.col-md-12 {
  min-width: 958px;
  height: 492px;
  margin-bottom: 50px;
}

/* ============= MEDIA QUERIES ============= */
@media (min-width: 1200px) {
  .col-md-6, .col-md-12   {
    margin-bottom: 80px;
  }
}